
.detailPage-enter {
  max-width: 0px;
}
.detailPage-enter-active {
  max-width: 1500px;
  transition: opacity 500ms,max-width 1s;
}

.detailPage-exit {
  max-width: 750px;

  transition: all 300ms ease-out;

}
.detailPage-exit-active {
  overflow:hidden;

  max-width: 0px;

}



.fadeBackground-enter {
  opacity: 0;
}
.fadeBackground-enter-active {
  opacity: .5;
  transition: opacity 500ms,opacity 1s;
}

.fadeBackground-exit {
  opacity: .5;

  transition: all 300ms ease-out;

}
.fadeBackground-exit-active {
  overflow:hidden;
  opacity: 0;

}
