.heart {
  background-color: maroon;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: maroon;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}
.wishlist {
  max-height: 0px;
  overflow:hidden;
  transition: all 500ms ease-out;

}

.wishlist-enter {
  max-height: 50vh;
  transition: all 500ms ease-out;
}
.wishlist-enter-active {
  max-height: 50vh;

  transition: all 500ms ease-out;
}
.wishlist-exit {
  max-height: 30vh;

  transition: all 500ms ease-out;

}
.wishlist-exit-active {
  overflow:hidden;

  max-height: 0px;

}
